:root {
  --box-shadow: 4px 5px 12px rgba(0, 0, 0, 0.3);
  --default-font-family: "Patrick Hand", cursive;
  --secondary-font-family: "Vollkorn", serif;
}

body {
  margin-top: 90px;
}

p {
  font-family: var(--default-font-family);
}

a {
  text-decoration: none;
}

.btn {
  box-shadow: var(--box-shadow);
}

.hero {
  text-align: center;
  font-size: 24px;
  font-family: var(--default-font-family);
}

.hero h1 {
  font-size: 70px;
}

.project {
  margin-top: 30px;
  padding: 8px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.project-image {
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.project-description h2,
a {
  font-family: "Merienda", cursive;
}

.project-description p {
  font-size: 20px;
}

.row {
  margin: 10px auto;
}

.about-description p {
  font-size: 22px;
}

.about-description img {
  max-height: 440px;
  margin-left: 160px;
  border-radius: 45px;
  box-shadow: var(--box-shadow);
}

.content-container {
  font-family: var(--secondary-font-family);
  text-align: center;
}

.content-container h1 {
  font-size: 60px;
}

.content-container h2 {
  font-size: 38px;
}

.content-container p {
  font-size: 20px;
}

.project-preview {
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.contact-container {
  text-align: center;
  font-family: var(--secondary-font-family);
}

.contact-container h1 {
  font-size: 60px;
}

.contact-container h3 {
  font-size: 34px;
}

.contact-container p {
  font-size: 16px;
}

footer {
  text-align: center;
  margin-bottom: 20px;
  font-family: var(--secondary-font-family);
}

footer .row h4 {
  font-size: 50px;
}

footer p {
  font-size: 28px;
}

footer .footer-button {
  font-size: 24px;
  margin-top: 20px;
}

footer .social-media-links {
  justify-content: space-evenly;
  font-size: 24px;
}

@media (max-width: 992px) {
  .hero h1 {
    font-size: 47px;
  }

  .hero h2 {
    font-size: 31px;
  }

  .hero p {
    font-size: 24px;
  }

  .project-description {
    text-align: initial;
  }

  .project-description p {
    font-size: 18px;
  }

  .about-description img {
    margin-top: 34px;
    margin-left: 34px;
  }

  .project-button {
    margin-left: 59px;
  }

  footer p {
    font-size: 24px;
    margin: 0 auto;
  }

  footer .footer-button {
    margin-top: 13px;
  }

  footer .social-media-links {
    font-size: 24px;
    margin-top: 15px;
  }
}
